[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2 = "*"
django = "==5.1.6"
djangorestframework = "==3.15.2"
python-dotenv = "*"
djangorestframework-simplejwt = "*"
pillow = "*"
django-cors-headers = "*"
hashids = "*"
pillow-heif = "*"

[dev-packages]

[requires]
python_version = "3.11"
